PSQL_DB_DATABASE=example-database
PSQL_DB_USERNAME=example-user
PSQL_DB_PASSWORD=example-password

PSQL_DB_HOST=postgres
PSQL_DB_PORT=5432

REDIS_HOST=redis-cache
REDIS_PORT=6379
REDIS_DB=0
REDIS_TOKEN_EXPIRATION_TIME=3600

MINIO_ENDPOINT=minio-server:9000
MINIO_ACCESS_KEY=example-access-key
MINIO_SECRET_KEY=example-secret-key
MINIO_BUCKET=backend-carlemany-s3-bucket
MINIO_SECURE=false
